
node_modules/
**/node_modules/


logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*


.env
.env.local
.env.development.local
.env.test.local
.env.production.local


build/
dist/
out/
public/
coverage/


tmp/
temp/
*.tmp
*.temp
*.swp
*.swo


.DS_Store
.vscode/
.idea/
*.iml


.cache/
.next/
.nuxt/


*.tsbuildinfo


.sass-cache/
connect.lock
coverage/*
.nyc_output
.DS_Store
/*.pem

sm-api/node_modules/
sm-api/.env
sm-api/dist/
sm-api/build/
frontend/node_modules/
frontend/.env
frontend/dist/
frontend/build/

Thumbs.db
.DS_Store

.idea/

.vscode/
